

@{
    
}

<h2>Hier kannst du deine Grppen für das Turnier auslosen</h2>

<form asp-controller="Gruppen" asp-action="GruppenAnzeige">
    <input type="number" name="AnzahlGruppen" value="4" min="4"/>
    <button type="submit" class="btn btn-primary">Gruppen auslosen</button>
</form>